<div th:fragment="registro">
    <H1>Registro de Libro</H1>        
    <div th:if="${error != null}" class="alert alert-danger alert-dismissible fade show" role="alert" >
        <p th:text="${error}" ></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form action="/registroLibro" method="post">
        <div th:if="${error != 'Debe cargar el nombre de la editorial'} and ${error != 'Debe cargar el nombre del autor'}">
            <div class="form-group">
                <label for="isbn">ISBN</label>
                <input type="number" class="form-control" name="isbn" placeholder="9788420437484" th:value="${isbn}">
                <label for="titulo">Título</label>
                <input type="text" class="form-control" name="titulo" placeholder="Rayuela" th:value="${titulo}">
                <label for="anio">Año del libro</label>
                <input type="number" class="form-control" name="anio" placeholder="2019" th:value="${anio}">
                <label for="autor">Autor del libro</label><br>
                <select name="autor">
                    <!-- th:each="autor(variable auxiliar):${autores} (listado que exportamos del controlador)" 
                    th:text="${autor.nombre} (al poner el punto, entramos al atributo del objeto del listado)-->
                    <option  th:if="${autores != null}"
                             th:each="autor:${autores}"
                             th:text="${autor.nombre}"/>
                    <option>Otro autor</option>
                </select>
                <br>
                <label for="editorial">Editorial del libro</label><br>
                <select name="editorial">
                        <!-- th:each="autor(variable auxiliar):${autores} (listado que exportamos del controlador)" 
                        th:text="${autor.nombre} (al poner el punto, entramos al atributo del objeto del listado)-->
                        <option th:if="${editoriales!=null}"
                                th:each="editorial:${editoriales}"
                                th:text="${editorial.nombre}"/>
                    <option>Otra editorial</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ejemplares">Cantidad de ejemplares</label>
                <select class="form-control" name="ejemplares">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" >Cargar Libro</button>    
        </div>
        <div th:if="${error == 'Debe cargar el nombre del autor'}">
            <a class="btn btn-warning" href="/AutorForm" role="button">CARGAR AUTOR</a>
        </div>
        <div th:if="${error == 'Debe cargar el nombre de la editorial'}">
            <a class="btn btn-warning" href="/EditorialForm" role="button">CARGAR EDITORIAL</a>
        </div>
    </form>
</div>
<div th:fragment="edicion">
    <H1>Edición de Libro 2</H1>
    
    <div th:if="${error != null}" class="alert alert-danger alert-dismissible fade show" role="alert" >
        <p th:text="${error}" ></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form action="/editarLibro" method="post">
        <div th:if="${error != 'Debe cargar el nombre de la editorial'} and ${error != 'Debe cargar el nombre del autor'}">
            <div class="form-group">
                <input type="hidden" class="form-control" name="id" th:value="${id}">
                <label for="isbn">ISBN</label>
                <input type="number" class="form-control" name="isbn" th:value="${isbn}">
                <label for="titulo">Título</label>
                <input type="text" class="form-control" name="titulo" th:value="${titulo}">
                <label for="anio">Año del libro</label>
                <input type="number" class="form-control" name="anio" th:value="${anio}">
                <label for="autor">Autor del libro</label><br>
                <select name="autor">
                    <!-- th:each="autor(variable auxiliar):${autores} (listado que exportamos del controlador)" 
                    th:text="${autor.nombre} (al poner el punto, entramos al atributo del objeto del listado)-->
                    <option th:each="autor:${autores}"
                            th:text="${autor.nombre}"/>
                    <option>Otro autor</option>
                </select>
                <br>
                <label for="editorial">Editorial del libro</label><br>
                <select name="editorial">
                    <!-- th:each="autor(variable auxiliar):${autores} (listado que exportamos del controlador)" 
                    th:text="${autor.nombre} (al poner el punto, entramos al atributo del objeto del listado)-->
                    <option th:each="editorial:${editoriales}"
                            th:text="${editorial.nombre}"/>
                    <option>Otra editorial</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ejemplares">Cantidad de ejemplares</label>
                <select class="form-control" name="ejemplares">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" >Cargar Libro</button>    
        </div>
        <div th:if="${error == 'Debe cargar el nombre del autor'}">
            <a class="btn btn-warning" href="/AutorForm" role="button">CARGAR AUTOR</a>
        </div>
        <div th:if="${error == 'Debe cargar el nombre de la editorial'}">
            <a class="btn btn-warning" href="/EditorialForm" role="button">CARGAR EDITORIAL</a>
        </div>
    </form>
</div>